@media only screen {
  body {
    background: #111;
    color: #aaa;
    font-family: sans-serif;
    margin: 10px auto 10px auto;
    max-width: 800px;
    padding: 0 10px 0 10px;}
  hr {
    border: 0;
    border-bottom: 0;
    border-top: 1px solid #888;}
  div.new1 {
    background: #222;
    font-weight: normal;
    padding: 4px;}
  h4 {
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    line-color: #888;
    margin: 10px 0 20px;} 
  h4 span { 
    background:#111;}
  div.new2 {
    height: 22px;
    line-height: 22px;}
  span.toright { float:right; }
  span.toleft { float:left; }
  a {
    color: #ff8b00;
    text-decoration: none;}
  a:hover,  a:active {
    background: #ff8b00;
    color: #000;}
  li {
    list-style-type: none;}
  blockquote {
    border-left: 4px solid #0f7;
    padding-left: 6px;}}
